<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/icons/fisioVR02.ico">
    <title>{{title}}</title>
    {{#if navbar}}
    <link rel="stylesheet" href="/css/navbar.css">
    {{/if}}
    {{#each styles}}
    <link rel="stylesheet" href={{stylePath this}}>
    {{/each}}
</head>

<body>
    {{#if navbar}}
    {{>navbar routes=navbar}}
    {{/if}}
    {{{body}}}
</body>

</html>