nav {
    background-color: #802e2e;
    color:rgb(255, 255, 255);
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #031D44;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;

}

nav li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 25%;
  
}


nav li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  display: block;
  transition: all 0.3s ease;
  bottom: 25%;
}

nav li a:hover:after {
  color: rgb(53, 124, 255);
  width: 100%;
  height: 1px;
  background-color: #fff;
}

nav li {
    list-style: none;

}

nav li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: rgb(53, 124, 255);
    text-decoration: none;
}

.avatar-ctn{
    text-align: center;
}

.avatar {
    width: 65%;
    border-bottom: 1px solid rgba(0,0,0,0.125);
    border-radius: 10px 10px 10px;
}

body {
    background-color: #dddddd;
    margin: 0;
  }
  
.padding {
  padding: 3rem !important
}

.user-card-full {
  overflow: hidden;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
  border: none;
  margin-bottom: 30px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
      background: -webkit-gradient(linear, left top, right top, from(#458dc9), to(#27caaf));
  background: linear-gradient(to right, #458dc9, #27caaf);
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-radius {
  border-radius: 5px;
}



h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px){
p {
  font-size: 14px;
}
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* css referente à verificação se o campo está vazio ou não*/
#erroNome {
  display: none;
  font-size: 0.8em;
}

#erroNome.visible {
  display: block;
}

#erroEmail {
  display: none;
  font-size: 0.8em;
}

#erroEmail.visible {
  display: block;
}

#erroCPF {
  display: none;
  font-size: 0.8em;
}

#erroCPF.visible {
  display: block;
}

#erroCRM {
  display: none;
  font-size: 0.8em;
}

#erroCRM.visible {
  display: block;
}
  
#erroEmail {
  display: none;
  font-size: 0.8em;
}

#erroEmail.visible {
  display: block;
}

input.invalid {
  border-color: red;
}
#sessao_exercicios{
  padding: 10px;
  display: flex;
  align-items: center;
}

.botao {
    background-color: #50c878;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-weight: 50;
    font-size: 18px;
    color: #ffffff;
}

.botao:hover {
    color: yellow;
    text-decoration: none;
}
.section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

sob{
  color: grey;
} 

/* -- Novo CSS ------------------------------------------------------------------------------------------------------------------------ */
.main_index {
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  border-top: solid #802e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b4bdc7;
  border-radius: 10px;
}

.rodape {
  background: #802e2e;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.rodape-flex {
  background: #802e2e;
  width: 100%;
  height: 100px;
  position: flex;
  bottom: 0;
  left: 0;
}

.text {
  text-align: center;
  text-justify: inter-word;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 20px;
}

.title {
  text-align: center;
  text-justify: inter-word;
  color: #802e2e;
  padding-top: 10px;
}

.button_1 {
  text-align: center;
  border: none;
  background-color: rgb(19, 147, 233);
  color: white;
  font-size: 1.30rem;
  font-weight: 500;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transform: translate(1) translate(0, 0);
  transition: transform 225ms, box-shadow 225ms;
  margin-bottom: 20px;
}

.button_1:hover {
  text-decoration: none;
  transform: scale(1.05) translate(0, -0.15rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
}

.button_1:active {
  text-decoration: none;
  transform: scale(1) translate(0, 0.15rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.profile {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-top: 30px;
}