nav {
    background-color: #50c878;
    color:rgb(255, 255, 255);
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style: none;

}

nav li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}

.avatar-ctn{
    text-align: center;
}

.avatar {
    width: 65%;
    border-bottom: 1px solid rgba(0,0,0,0.125);
    border-radius: 10px 10px 10px;
}

body {
    background-color: #f9f9fa;
    margin: 0;
  }
  
  .padding {
    padding: 3rem !important
  }
  
  .user-card-full {
    overflow: hidden;
  }
  
  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
    margin-bottom: 30px;
  }
  
  .m-r-0 {
    margin-right: 0px;
  }
  
  .m-l-0 {
    margin-left: 0px;
  }
  
  .user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
  }
  
  .bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#458dc9), to(#27caaf));
    background: linear-gradient(to right, #458dc9, #27caaf);
  }
  
  .user-profile {
    padding: 20px 0;
  }
  
  .card-block {
    padding: 1.25rem;
  }
  
  .m-b-25 {
    margin-bottom: 25px;
  }
  
  .img-radius {
    border-radius: 5px;
  }
  
  
  
  h6 {
    font-size: 14px;
  }
  
  .card .card-block p {
    line-height: 25px;
  }
  
  @media only screen and (min-width: 1400px){
  p {
    font-size: 14px;
  }
  }
  
  .card-block {
    padding: 1.25rem;
  }
  
  .b-b-default {
    border-bottom: 1px solid #e0e0e0;
  }
  
  .m-b-20 {
    margin-bottom: 20px;
  }
  
  .p-b-5 {
    padding-bottom: 5px !important;
  }
  
  .card .card-block p {
    line-height: 25px;
  }
  
  .m-b-10 {
    margin-bottom: 10px;
  }
  
  .text-muted {
    color: #919aa3 !important;
  }
  
  .b-b-default {
    border-bottom: 1px solid #e0e0e0;
  }
  
  .f-w-600 {
    font-weight: 600;
  }
  
  .m-b-20 {
    margin-bottom: 20px;
  }
  
  .m-t-40 {
    margin-top: 20px;
  }
  
  .p-b-5 {
    padding-bottom: 5px !important;
  }
  
  .m-b-10 {
    margin-bottom: 10px;
  }
  
  .m-t-40 {
    margin-top: 20px;
  }
  
  .user-card-full .social-link li {
    display: inline-block;
  }
  
  .user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
 /* css referente à verificação se o campo está vazio ou não*/
  #erroNome {
    display: none;
    font-size: 0.8em;
  }
  
  #erroNome.visible {
    display: block;
  }
  
  #erroEmail {
    display: none;
    font-size: 0.8em;
  }
  
  #erroEmail.visible {
    display: block;
  }

  #erroCPF {
    display: none;
    font-size: 0.8em;
  }
  
  #erroCPF.visible {
    display: block;
  }

  #erroCRM {
    display: none;
    font-size: 0.8em;
  }
  
  #erroCRM.visible {
    display: block;
  }
   
  #erroEmail {
    display: none;
    font-size: 0.8em;
  }
  
  #erroEmail.visible {
    display: block;
  }

  input.invalid {
    border-color: red;
  }
  #sessao_exercicios{
    padding: 10px;
    display: flex;
    align-items: center;
}

.botao {
    background-color: #50c878;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-weight: 50;
    font-size: 18px;
    color: #ffffff;
}

.botao:hover {
    color: yellow;
    text-decoration: none;
}
.section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

sob{
  color: grey;
} 

.foto{
  width: 200px;
  aspect-ratio: 4/3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #aaa;
  cursor: pointer;
  
  color: #aaa;
  background-color: #ddd;
  
  transition: color 300ms ease-in-out;
}
.foto:hover{
  color: #777;
  background: #ccc;
}
.input_foto{
  display: none;
}