<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Testing Pose</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <user-interface></user-interface>
</body>

</html>