<div class="container mt-4" style="margin: auto;">
    <div class="card" style="width: 40rem; margin:auto;">
        <div class="card-header">
            Formulário de Cadastro
        </div>
        <div class="card-body">
            <form action="/auth/cadastro" method="POST">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>

                <div class="form-group">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cpf" name="cpf">
                </div>

                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input type="text" class="form-control" id="telefone" name="telefone">
                </div>

                <div class="form-group">
                    <label for="user">Login</label>
                    <input type="text" class="form-control" id="user" name="user">
                </div>

                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <div class="form-group">
                    <label for="passwordConfirm">Confirmar Senha</label>
                    <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm">
                </div>

                <button type="submit" class="btn btn-primary">Cadastrar Usuário</button>
            </form>
        </div>
    </div>

    {{#if message }}
    <h4 class="alert alert-danger mt-4">{{message}}</h4>
    {{/if }}
</div>