<style type="text/css">
    /*Configurações Padrões*/
    ul.menu,
    .menu li,
    .menu a {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
    }

    ul.menu ul {
        position: absolute;
        display: none;
        box-shadow: 3px 3px 2px #333;
    }

    /* Configurações nivel 1*/
    ul.menu {
        float: left;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 15px;
        border-radius: 5px;
        padding: 0 5px;
    }

    .menu li {
        float: left;
        width: auto;
        position: relative;
    }

    .menu li a {
        display: block;
        padding: 0 20px;
        line-height: 45px;
        height: 45px;
        float: left;
        transition: all 0.1s linear;
    }

    /* Configurações nivel 2*/
    .menu li:hover>ul.submenu1 {
        display: block;
        top: 45px;
        left: 0;
        padding: 5px;
        width: 200px;
        border-radius: 0 0 5px 5px;
    }

    .menu ul.submenu1 a {
        width: 160px;
        padding: 0 20px;
        border-radius: 5px;
    }

</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"> <!-- por default, ele pesquisa a pasta public  -->
    <title>Document</title>
</head>
<body>


    <nav>
        <h4>FisioVR</h4>
        <ul class="menu">
            <li><a href="/profissional_profile">Inicio</a></li>
            <li><a href="/profissionalPerfil">Perfil</a></li>
            <li>
            	<a href="/meuspacientes">Pacientes</a>
               <!--<ul class="submenu1">
               	<li><a href="/pacientesconcluidos">Concluidos</a></li>
               	<li><a href="/pacientespendentes">Pendentes</a></li>
               </ul>-->
            </li>
            <li><a href="/desenvolvimento">Mensagens</a></li>
            <li><a href="/auth/logout">Sair</a></li>
        </ul> 
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <div class="avatar-ctn">
                        <div style="display:none;">
                            <input type="text" size="30" name="usuario" value="{{user.id_usuario}}">
                        </div>
                        <img src="../icons/{{user.id_usuario}}.jpeg" style="width:100%;border-radius: 5px  " alt="Avatar">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{user.nome}}</h5>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.email}}</p>
                    </div>
                </div>
            </div>


            <div class="col-8">
                <div class="car text-center">
                    <div class="card-header">
                        Profile Page
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            Bem-Vindo! 
                            
                        </h5>
                        <p class="card-text">Notificações</p>
                        <a href="#" class="btn brn-primary"></a>
                    </div>
                    <div class="card-footer text-muted">

                    </div>

                </div>
            </div>
        </div>


    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
